<%= form_for(@isle) do |f| %>
  <% if @isle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@isle.errors.count, "error") %> prohibited this isle from being saved:</h2>

      <ul>
      <% @isle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :NOMBRE_ISLA %><br />
    <%= f.text_field :NOMBRE_ISLA %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
