<p id="notice"><%= notice %></p>

<p>
  <b>Id sites:</b>
  <%= @dependency.ID_SITES %>
</p>

<p>
  <b>Id dependencia:</b>
  <%= @dependency.ID_DEPENDENCIA %>
</p>


<%= link_to 'Edit', edit_dependency_path(@dependency) %> |
<%= link_to 'Back', dependencies_path %>
